/**
 * Blank.CSS: Fix Browser's Bullshit 
 * Kopimi license http://www.kopimi.com/kopimi
 * @author Kopirat http://kopirat.github.io
 */
 /* Customizable Design
============================== */
/* Useless Crap
============================== */
::-moz-focus-inner {
  border: none;
}

:focus {
  outline: none;
}

::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

/* Buttons
============================== */
button,
input[type=button],
input[type=reset],
input[type=submit] {
  background: #fff;
  border: solid #ddd .1em;
  border-radius: .25em;
  color: #444;
  font: 16px Helvetica, Arial;
  padding: .25em .5em;
}

/* Text Inputs
============================== */
input[type=datetime],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=text],
input[type=url],
input[type=tel] {
  background: #fff;
  border: solid #ddd .1em;
  border-radius: .25em;
  color: #444;
  font: 16px Helvetica, Arial;
  padding: .25em .5em;
}

/* HTML5 Inputs
============================== */
input[type=date],
input[type=datetime-local],
input[type=month],
input[type=time],
input[type=week] {
  background: #fff;
  border: solid #ddd .1em;
  border-radius: .25em;
  color: #444;
  font: 16px Helvetica, Arial;
  padding: .25em .5em;
}

/* Range Input
============================== */
input[type=range] {
  -webkit-appearance: none;
  background: #ddd;
  height: .5em;
  border-radius: .2em;
  min-width: 150px;
}

::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #bbb;
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
}
::-webkit-slider-thumb:active {
  background: #007bff;
}

::-moz-range-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #bbb;
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
}
::-moz-range-thumb:active {
  background: #007bff;
}

/* Select tag
============================== */
select {
  background: #fff;
  border: solid #ddd .1em;
  border-radius: .25em;
  color: #444;
  font: 16px Helvetica, Arial;
  padding: .25em .5em;
}
