/**
 * Blank.CSS: Fix Browser's Bullshit 
 * Kopimi license http://www.kopimi.com/kopimi
 * @author Kopirat http://kopirat.github.io
 */
 /* Configurable Design
============================== */
/* Useless Crap
============================== */
::-moz-focus-inner {
  border: none;
}

:focus {
  outline: none;
}

::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

/* Buttons
============================== */
input[type=button],
input[type=reset],
input[type=submit] {
  background: #fff;
  border: solid #ddd .1em;
  border-radius: .25em;
  color: #444;
  font: 16px Helvetica, Arial;
  padding: .3em .5em;
}

/* Text Inputs
============================== */
input[type=datetime],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=text],
input[type=url],
input[type=tel] {
  background: #fff;
  border: solid #ddd .1em;
  border-radius: .25em;
  color: #444;
  font: 16px Helvetica, Arial;
  padding: .3em .5em;
}

#picker {
  color: #0f0;
}
#picker:hover {
  background: none;
}

/* HTML5 Inputs
============================== */
input[type=date],
input[type=datetime-local],
input[type=month],
input[type=time],
input[type=week] {
  background: #fff;
  border: solid #ddd .1em;
  border-radius: .25em;
  color: #444;
  font: 16px Helvetica, Arial;
  padding: .3em .5em;
}
input[type=date]:hover *,
input[type=datetime-local]:hover *,
input[type=month]:hover *,
input[type=time]:hover *,
input[type=week]:hover * {
  background: white;
}

/* Select tag
============================== */
select {
  background: #fff;
  border: solid #ddd .1em;
  border-radius: .25em;
  color: #444;
  font: 16px Helvetica, Arial;
  padding: .3em .5em;
}
